<div class="container" style="margin-top: 30px;margin-bottom: 50px;">
    <h4 style="text-align: center;">QUẢN LÍ SINH VIÊN</h4>
    <div style="text-align: center;">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/student/'">Home</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/student/viewadd'">Add Student
        </button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/student/viewsearch'">Search
            Student</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/student/viewdelete'">Find And
            Delete
            Student</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/student/null/viewupdate'">Find And
            Update
            Student</button>
    </div>
</div>